{{template "main"}}
	<style>
		#p2{
			overflow:hidden;
			text-overflow:ellipsis; 
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
		}
	</style>
	<title>PrometheusAlert</title>
</head>

<body>
{{template "head" .}}
<div class="bs-docs-header">
	<div class="container">
			<label class="col-sm-2">PrometheusAlert</label>
	</div>
</div>
  <div class="container">

	<div class="page-header">
		<h4 class="text-muted"><a target="_blank" rel="noopener noreferrer" href="https://github.com/feiyu563/PrometheusAlert">PrometheusAlert全家桶</a></h4>
	</div>
	
  </div>
<div class="page-header">
<div class="container text-center">
<p><a target="_blank" rel="noopener noreferrer" href="https://github.com/feiyu563/PrometheusAlert"><img src="/static/img/it.png" alt="it" style="max-width:50%;"></a></p>
<hr>
</div>
<div class="container">
<p>如果这个项目能为您带来帮助，我将感到非常荣幸！同时非常欢迎您加入PrometheusAlert全家桶的微信群一起探讨关于PrometheusAlert新一期的开发计划。</p>
<hr>
<p>PrometheusAlert的成长离不开所有爱好运维和开发的朋友们的支持！如果您也对这个项目感兴趣，请点击一下 Star 以示鼓励，谢谢</p>
<hr>
<p>PrometheusAlert是开源的运维告警中心消息转发系统，支持主流的监控系统Prometheus、Zabbix，日志系统Graylog2，Graylog3和数据可视化系统Grafana发出的预警消息，支持将收到的这些消息发送到钉钉，微信，飞书，腾讯短信，腾讯电话，阿里云短信，阿里云电话，华为短信，容联云电话等。</p>
</div>
<hr>
<div class="container text-center">
<img alt="Brand" width="120" height="120" src="/static/img/wx.png">



</div>
</div>
{{template "endhtml"}}