{{template "main"}}
  <title>PrometheusAlert</title>
</head>

<body>
{{template "head" .}}
        <div class="bs-docs-header">
            <div class="container">
                    <label class="col-sm-2">告警测试</label>
			</div>
        </div>
            <div class="container">
				<div class="page-header">

				<div class="form-group" style="text-align:center">
				<label>短信和电话请提前配置好app.conf中的[defaultphone]配置项</label>
				</div>

				</div>
            </div>
		<div class="container">
		<div class="page-header">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<th>1</th>
						<th>钉钉</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="dd">告警测试</button></th>
					</tr>

					<tr>
						<th>2</th>
						<th>企业微信</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="wx">告警测试</button></th>
					</tr>

					<tr>
						<th>3</th>
						<th>飞书</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="fs">告警测试</button></th>
					</tr>

					<tr>
						<th>4</th>
						<th>腾讯云语音电话</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="txdh">告警测试</button></th>
					</tr>

					<tr>
						<th>5</th>
						<th>腾讯云短信</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="txdx">告警测试</button></th>
					</tr>

					<tr>
						<th>6</th>
						<th>阿里云语音电话</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="alydh">告警测试</button></th>
					</tr>

					<tr>
						<th>7</th>
						<th>阿里云短信</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="alydx">告警测试</button></th>
					</tr>

					<tr>
						<th>8</th>
						<th>容联云语音电话</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="rlydh">告警测试</button></th>
					</tr>

					<tr>
						<th>9</th>
						<th>华为云短信</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="hwdx">告警测试</button></th>
					</tr>

					<tr>
						<th>10</th>
						<th>Email</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="email">告警测试</button></th>
					</tr>

					<tr>
						<th>11</th>
						<th>七陌短信</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="7moordx">告警测试</button></th>
					</tr>

					<tr>
						<th>12</th>
						<th>七陌语音电话</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="7moordh">告警测试</button></th>
					</tr>

					<tr>
						<th>13</th>
						<th>Telegram</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="tg">告警测试</button></th>
					</tr>
					<tr>
						<th>14</th>
						<th>企业微信应用</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="workwechat">告警测试</button></th>
					</tr>

					<tr>
						<th>15</th>
						<th>百度云短信</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="bddx">告警测试</button></th>
					</tr>

					<tr>
						<th>16</th>
						<th>百度Hi(如流)</th>
						<th><button class="btn btn-primary" data-toggle='modal' id="bdrl">告警测试</button></th>
					</tr>

				</tbody>
			</table>
			</div>
		</div>
<div class="page-header">
<div class="container text-center"> 
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script>
      $(function(){
         $(".btn").click(function(){
           $.post("/alerttest",{mtype:$(this).attr("id")},function(result){
             alert(result);
             });
          });
       })
    </script>
</div>
</div>
{{template "endhtml"}}
