apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "prometheusalert.fullname" . }}
  labels:
{{ include "prometheusalert.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "prometheusalert.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "prometheusalert.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: TZ
            value: "Asia/Shanghai"
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          volumeMounts:
          - name: prometheus-alert-center-conf
            mountPath: /app/conf/app.conf
            subPath: app.conf
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
      volumes:
      - name: prometheus-alert-center-conf
        configMap:
          name: {{ template "prometheusalert.fullname" . }}
          items:
          - key: app.conf
            path: app.conf